@import 'variables';

* {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}

html, body {
  overflow: auto !important;
  scrollbar-width: thin;
  scrollbar-color: #b0b0b0 #f0f0f0;
}

body {
  display: flex;
  flex-direction: column;
}

p, a, button {
  all: unset;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between;
}

.around {
  display: flex;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.absolute {
  position: absolute;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.gap-25 {
  gap: 25px;
}

.gap-30 {
  gap: 30px;
}

.gap-35 {
  gap: 20px;
}

.gap-40 {
  gap: 25px;
}

.gap-45 {
  gap: 30px;
}

.gap-50 {
  gap: 30px;
}

h1 {
  font-size: clamp(3rem, 5vw + 1rem, 6rem);
  font-weight: 800;
  font-family: $headingfont;
  line-height: 0.8;
  color: $blue;
}

h2 {
  font-size: min(13vmin, 4.5rem);
  font-weight: 700;
  font-family: $headingfont;
  line-height: 1;
  color: $blue
}

h3 {
  font-size: min(10vmin, 3rem);
  font-weight: 700;
  font-family: $headingfont;
  line-height: 1;
  color: $blue
}

h4 {
  font-size: min(9vmin, 1.8rem);
  font-weight: 700;
  font-family: $headingfont;
  line-height: 1;
  color: $blue
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
  border-radius: 10px;
  border: 2px solid transparent;
  width: 8px !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8a8a8a;
  width: 8px !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

input[type="number"] {
    -moz-appearance: textfield !important;
    appearance: textfield !important;
}

input[type="number"] {
    -ms-appearance: none !important;
}


// Dark Mode

.dark-mode {
  background-image: none !important;
  background-color: $darkmode !important;
  transition: background-color 200ms ease-in-out;
}

.dark-mode-text {
  color: $white !important;
  transition: color 200ms ease-in-out;
}

.dark-mode-text-dark {
  color: $darkmode !important;
  transition: color 200ms ease-in-out;
}

.dark-mode-img {
  filter: brightness(0.75) !important;
  transition: filter 200ms ease-in-out;
}

.dark-mode-btn:hover {
  background-color: $darkmode !important;
  transition: background-color 200ms ease-in-out;
}

.dark-mode-privacy-legal {
  background-color: $darkmode;
  transition: background-color 200ms ease-in-out;

  p, span, a, li {
    color: $white;
    transition: color 200ms ease-in-out;
  }
}



// ANIMATIONS

// Fade in from the left
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// Fade in from the right
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// Fade in from the bottom
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease-out;
}

.fade-in-left {
  opacity: 0;
  animation: fadeInLeft 500ms ease-out forwards;
}

.fade-in-right {
  opacity: 0;
  animation: fadeInRight 500ms ease-out forwards;
}

.fade-in-bottom {
  opacity: 0;
  animation: fadeInBottom 500ms ease-out forwards;
}